<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyobo.platform.recipe.mapper.RecipeSearchMapper">
	<!-- 레시피 검색 조회 -->
	<select id="selectListSearchRecipe" parameterType="com.kyobo.platform.recipe.dao.Recipe" 
		resultType="java.util.LinkedHashMap">
		SELECT 
			* 
		FROM 
		(
			SELECT 
				rt.recipe_key, 
				rt.recipe_name,
				rt.recipe_desc,
				rt.recipe_view_cnt,
				rt.recipe_scrap_cnt,
				rt.recipe_main_img_path,
				rt.recipe_user_id
			FROM recipe_tb rt LEFT OUTER JOIN recipe_material_tb rmt
			ON rt.recipe_key = rmt.recipe_key
			WHERE 1=1
			<if test='recipe_search_text != null and recipe_search_text != ""'>
				AND rt.recipe_name LIKE CONCAT('%',#{recipe_search_text},'%')
				OR rt.recipe_desc LIKE CONCAT('%',#{recipe_search_text},'%')
				OR rmt.recipe_material_name LIKE CONCAT('%',#{recipe_search_text},'%')	
			</if>
			<if test='category_main_name != null and category_main_name != ""'>
				<if test='category_name != null and category_name != ""'>
					<choose>
						<when test='category_main_name == "건강/발달별"'>
							AND rt.recipe_health_develop = #{category_name}
						</when>
						<when test='category_main_name == "재료별"'>
							<choose>
								<when test='category_name == "채소류" or category_name == "버섯" or category_name == "과일류" or
								 category_name == "밀가루" or category_name == "곡류" or category_name == "콩/견과"'>
									AND rmt.recipe_material_main_classify = #{category_name}
									<!-- 메인재료여부 체크 조건 추가필요-->
									AND rmt.recipe_material_main_yn = "Y"
								</when>
								<otherwise>
									AND rmt.recipe_material_main_classify = #{category_name}
								</otherwise>
							</choose>
						</when>
						<when test='category_main_name == "카테고리별"'>
							AND rt.recipe_category = #{category_name}
						</when>
						<otherwise></otherwise>
					</choose>
				</if>
			</if>
			<if test='recipe_babyfood_step != null and recipe_babyfood_step != ""'>
				AND rt.recipe_babyfood_step = #{recipe_babyfood_step}
			</if>
			<if test='except_material_yn == "Y"'>
				AND rmt.recipe_material_allergy_yn = "Y"
			</if>
		) A	
		GROUP BY A.recipe_key	
	</select>
</mapper> 