<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyobo.platform.recipe.recipeList.RecipeListMapper">
	<resultMap type="com.kyobo.platform.recipe.recipeList.RecipeList" id="RecipeList">
		<id column="RECIPE_SERNO" property="RECIPE_SERNO"/>
		<result column="USER_ID" property="USER_ID"/>
		<result column="CATEGORY_SERNO" property="CATEGORY_SERNO"/>
		<result column="CATEGORY_NAME" property="CATEGORY_NAME"/>
		<result column="RECIPE_NAME" property="RECIPE_NAME"/>
		<result column="RECIPE_DESC" property="RECIPE_DESC"/>
		<result column="RECIPE_LEAD_TIME" property="RECIPE_LEAD_TIME"/>
		<result column="RECIPE_MAIN_IMG_PATH" property="RECIPE_MAIN_IMG_PATH"/>
		<result column="RECIPE_USER_ID" property="RECIPE_USER_ID"/>
		<result column="RECIPE_SCRAP_COUNT" property="RECIPE_SCRAP_COUNT"/>
	</resultMap>
	
    <select id="getRecipeList" resultMap="RecipeList">
        SELECT RECIPE_SERNO, 
        	RECIPE_USER_ID AS USER_ID,
        	CATEGORY_SERNO, 
        	CATEGORY_SERNO AS CATEGORY_NAME, 
        	RECIPE_NAME, 
        	RECIPE_DESC, 
        	RECIPE_LEAD_TIME, 
        	RECIPE_MAIN_IMG_PATH, 
        	RECIPE_USER_ID, 
        	RECIPE_SCRAP_COUNT 
        FROM RECIPE_DB
	</select>
	
	<select id="getSearchRecipeList" resultMap="RecipeList" parameterType="hashmap">
        SELECT RECIPE_SERNO, 
        	RECIPE_USER_ID AS USER_ID,
        	CATEGORY_SERNO, 
        	CATEGORY_SERNO AS CATEGORY_NAME, 
        	RECIPE_NAME, 
        	RECIPE_DESC, 
        	RECIPE_LEAD_TIME, 
        	RECIPE_MAIN_IMG_PATH, 
        	RECIPE_USER_ID, 
        	RECIPE_SCRAP_COUNT 
        FROM RECIPE_DB
	</select>

</mapper>