<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyobo.platform.recipe.mapper.RecipeRegistMapper">
	<!-- 기본정보 임시저장-->
	<insert id="insertRecipeDefInfo" parameterType="com.kyobo.platform.recipe.dao.Recipe" 
    	useGeneratedKeys="true" keyProperty="recipe_key">
    	INSERT INTO recipe_tb (
        	recipe_name, 
        	recipe_desc, 
        	recipe_category,
        	recipe_main_img_name, 
        	recipe_main_img_path, 
        	recipe_img_name_1, 
        	recipe_img_path_1, 
        	recipe_img_name_2, 
        	recipe_img_path_2, 
        	recipe_img_name_3, 
        	recipe_img_path_3, 
        	recipe_img_name_4, 
        	recipe_img_path_4, 
        	recipe_user_id,
        	recipe_expose_yn, 
        	recipe_check_status, 
        	recipe_temp_step, 
        	created_datetime, 
        	last_modified_datetime
        ) VALUES (
        	#{recipe_name}, 
        	#{recipe_desc}, 
        	#{recipe_category}, 
        	#{recipe_main_img_key_name}, 
        	#{recipe_main_img_path}, 
        	#{recipe_img_key_name_1}, 
        	#{recipe_img_path_1}, 
        	#{recipe_img_key_name_2}, 
        	#{recipe_img_path_2}, 
        	#{recipe_img_key_name_3}, 
        	#{recipe_img_path_3}, 
        	#{recipe_img_key_name_4}, 
        	#{recipe_img_path_4}, 
        	#{recipe_user_id},	
        	'N', 
        	#{recipe_check_status}, 
        	#{recipe_temp_step}, 
        	NOW(), 
        	NOW()
        )	
	</insert>
	
	<!-- 기본정보 수정-->
	<update id="updateRecipeDefInfo" parameterType="com.kyobo.platform.recipe.dao.Recipe">
		UPDATE recipe_tb SET
			recipe_name = #{recipe_name},
        	recipe_desc = #{recipe_desc}, 
        	recipe_category = #{recipe_category}, 
        	recipe_main_img_name = #{recipe_main_img_key_name},
        	recipe_main_img_path = #{recipe_main_img_path},
        	recipe_img_name_1 = #{recipe_img_key_name_1},
        	recipe_img_path_1 = #{recipe_img_path_1},
        	recipe_img_name_2 = #{recipe_img_key_name_2},
        	recipe_img_path_2 = #{recipe_img_path_2},
        	recipe_img_name_3 = #{recipe_img_key_name_3},
        	recipe_img_path_3 = #{recipe_img_path_3},
        	recipe_img_name_4 = #{recipe_img_key_name_4},
        	recipe_img_path_4 = #{recipe_img_path_4},
        	recipe_expose_yn = 'N',
        	recipe_check_status = #{recipe_check_status},
        	last_modified_datetime = NOW()
        WHERE 
        	recipe_key = #{recipe_key}	
	</update>
	
	<!-- 부가정보 임시저장 및 수정-->
	<update id="updateRecipeAddInfo" parameterType="com.kyobo.platform.recipe.dao.Recipe">
		UPDATE recipe_tb SET
			recipe_lead_time = #{recipe_lead_time},
        	recipe_level = #{recipe_level}, 
        	recipe_babyfood_ste = #{recipe_babyfood_step}, 
        	recipe_health_note = #{recipe_health_note},
        	recipe_check_status = #{recipe_check_status},
        	recipe_temp_step = #{recipe_temp_step},
        	last_modified_datetime = NOW()
        WHERE 
        	recipe_key = #{recipe_key}	
	</update>
	
	<!-- 재료 몇인분 여부 recipe_tb 업데이트-->
	<update id="updateRecipeMaterialInfo" parameterType="com.kyobo.platform.recipe.dao.Recipe">
		UPDATE recipe_tb SET
			recipe_servings = #{recipe_servings},
        	recipe_check_status = #{recipe_check_status},
        	recipe_temp_step = #{recipe_temp_step},
        	last_modified_datetime = NOW()
        WHERE 
        	recipe_key = #{recipe_key}	
	</update>
	
	<!-- 재료 임시저장 및 수정 시 insert 전 delete-->
	<delete id="deleteRecipeMaterialInfo" parameterType="java.lang.String">	
		DELETE FROM recipe_material_tb
		WHERE
			recipe_key = #{recipe_key}
	</delete>
	
	<!-- 재료 임시저장 및 수정-->
	<insert id="insertRecipeMaterialInfo" parameterType="com.kyobo.platform.recipe.dao.Recipe">
		INSERT INTO recipe_material_tb (
			recipe_key, 
			recipe_common_material_key,
			recipe_material_name, 
			recipe_material_classify, 
			recipe_material_main_classify, 
			recipe_material_meature, 
			recipe_material_main_yn,
			recipe_material_allergy_yn,
			created_datetime, 
			last_modified_datetime
		) VALUES (
			#{recipe_key}, 
			#{recipe_common_material_key},
			#{recipe_material_name}, 
			#{recipe_material_classify}, 
			#{recipe_material_main_classify}, 
			#{recipe_material_meature}, 
			#{recipe_material_main_yn},
			#{recipe_material_allergy_yn},
			NOW(), 
			NOW()
		)
	</insert>
	
	<!-- 매인재료 태그값 설정-->
	<insert id="insertRecipeTag" parameterType="com.kyobo.platform.recipe.dao.Recipe">
		INSERT INTO recipe_tag_tb (
			recipe_key,
			recipe_tag_no
			recipe_tag_desc,
			created_datetime, 
			last_modified_datetime
		) VALUES (
			#{recipe_key}, 
			1
			#{recipe_tag_desc}
			NOW(), 
			NOW()
		}
	</insert>
	
	<!-- 요리순서 임시저장 및 수정 시 insert 전 delete-->
	<delete id="deleteRecipeOrderInfo" parameterType="java.lang.String">	
		DELETE FROM recipe_order_tb
		WHERE
			recipe_key = #{recipe_key}
	</delete>
	
	<!-- 요리순서 임시저장 및 수정-->
	<insert id="insertRecipeOrderInfo" parameterType="com.kyobo.platform.recipe.dao.Recipe">
		INSERT INTO recipe_order_tb (
			recipe_key, 
			recipe_order, 
			recipe_order_desc, 
			recipe_order_img_name, 
			recipe_order_img_path, 
			created_datetime, 
			last_modified_datetime
		) VALUES (
			#{recipe_key}, 
			#{recipe_order}, 
			#{recipe_order_desc}, 
			#{recipe_order_img_key_name}, 
			#{recipe_order_img_path}, 
			NOW(), 
			NOW()
		)
	</insert>
	
	<!-- 요리순서 저장 후 recipe_tb 상태값 업데이트 -->
	<update id="updateRecipeStatus" parameterType="com.kyobo.platform.recipe.dao.Recipe">
		UPDATE recipe_tb SET
        	recipe_check_status = #{recipe_check_status},
        	recipe_temp_step = #{recipe_temp_step},
        	last_modified_datetime = NOW()
        WHERE 
        	recipe_key = #{recipe_key}	
	</update>
	
	<!-- 레시피 임시저장 체크 -->
	<select id="selectCheckRecipeTempSave" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT recipe_key
		FROM recipe_tb
		WHERE 
			recipe_user_id = #{user_id}
	</select>
	
	<!-- 레시피 임시저장 삭제 -->
	<delete id="deleteRecipeTempSave" parameterType="java.lang.String">
		DELETE FROM recipe_tb
		WHERE
			recipe_key = #{recipe_key}
	</delete>
	
	<!-- 레시피 베이스 재료 조회 -->
	<select id="selectListRecipeBaseMaterial" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
		SELECT 
			recipe_base_material_name, 
			recipe_base_material_meature
		FROM recipe_base_material_tb
		WHERE 
			recipe_base_material_classify = #{search_text}
	</select>
	
	<!-- 건강태그, 칼로리 업데이트(ML 영역 호출) -->
	<update id="updateRecipeAnalysis" parameterType="com.kyobo.platform.recipe.dao.Recipe">
		UPDATE recipe_tb SET
        	recipe_health_tag = #{recipe_health_tag},
        	recipe_cal = #{recipe_cal},
        	last_modified_datetime = NOW()
        WHERE 
        	recipe_key = #{recipe_key}
	</update>
</mapper> 